<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>

    <h1>New Post</h1>
    <form action="">
        <label>Title</label>
        <input type="text" name="title">
        <br>
        <label>Content</label>
        <textarea name="content" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>