<!-- Account Management Sidebar -->
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
</head>

<div class="flex w-100 flex-col h-full min-h-full">
  <div class="flex grow flex-col justify-between overflow-y-auto px-3 pb-4">
    <nav class="py-3">
      <ul role="list" class="space-y-4">
        <li>
          <a
            href="ai_settings"
            class="border-transparent border-2 border-solid text-nowrap hover:bg-gray-100 hover:border-solid hover:border-crimson hover:border-2 group flex content-center gap-x-4 rounded-xl p-2.5 px-6 text-base leading-6 font-semibold"
          >
            Documents
          </a>
        </li>
        <li>
          <a
            href="content_management"
            class="border-transparent border-2 border-solid text-nowrap hover:bg-gray-100 hover:border-solid hover:border-crimson hover:border-2 group flex content-center gap-x-4 rounded-xl p-2.5 px-6 text-base leading-6 font-semibold"
          >
            Content Management
          </a>
        </li>
        <li>
          <a
            href="user_interaction"
            class="border-transparent border-2 border-solid text-nowrap hover:bg-gray-100 hover:border-solid hover:border-crimson hover:border-2 group flex content-center gap-x-4 rounded-xl p-2.5 px-6 text-base leading-6 font-semibold"
          >
            User Interaction Settings
          </a>
        </li>

        <li>
          <a
            href="security_access"
            class="border-transparent border-2 border-solid text-nowrap hover:bg-gray-100 hover:border-solid hover:border-crimson hover:border-2 group flex content-center gap-x-4 rounded-xl p-2.5 px-6 text-base leading-6 font-semibold"
          >
            Security and Access Controls
          </a>
        </li>
        <!--
        <li>
          <a
            href="operational_settings"
            class="border-transparent border-2 border-solid text-nowrap hover:bg-gray-100 hover:border-solid hover:border-crimson hover:border-2 group flex content-center gap-x-4 rounded-xl p-2.5 px-6 text-base leading-6 font-semibold"
          >
            Operational Settings
          </a>
        </li>
        -->
      </ul>
    </nav>
  </div>
</div>
